*{
  font-family: helvetica;
}

body{
  background-image: url("http://www.thebeach-tulum.com/assets/images/galleries/slide-home-responsive/03-the-beach.xl.jpg");

}

.property-index-frame{
  width:

}
