*{
  font-family: helvetica;
}

body{
  background-color: white;
  height: 100%;
  width:100%;
}
.page-title{
  text-align: center;
}
/*SIGN UP FORM*/
.form-container {
  margin: auto;
  width: 50%;
  height: 40%;
}

.user-sign-up-form{
  margin:auto;
  width:80%;
  height: 80%;
}
.form-item{
  background-color: white;
}
.form-textbox{
  border:none;
  border-bottom: 2px solid red;
  background-color:white;
}

.form-button {
    width:90%;
    text-align:center;
    background-color:white;
    border: 2px solid red;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.form-button:hover {
    width:90%;
    background-color: red; /* Green */
    color: white;
}


/*SPACES/INDEX*/
.invisible-space-link{
  text-decoration: none;
  text-align: left;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.invisible-space-link:hover{
  font-size: 40px;

}
.booking-link-button{
  width:80%;
  margin: auto;
  text-align:center;
  background-color:white;
  border: 2px solid red;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.booking-link-button:hover{
  width:80%;
  margin:auto;
  background-color: red; /* Green */
  color: white;

}


.space-index-frame{
  width: 60%;
  opacity: 1;
  border:none;
  border-bottom: 2px solid red;
  margin: auto;
  padding: 1%;
  margin-top: 5px;
  text-align: center;
}


/*HEADERS*/

.links{
  text-decoration: none;
  color: green
}

.header-link{
  padding: 2%;
  float: right;
  list-style-type: none;

}

.header {
  width:100%;
  height:50px;
  background-color: white;
  border-bottom: 2px solid red;
  opacity: 0.8;

}


.header-button {
  float: right
}
