*{
  font-family: helvetica;
}

body{
  background-color: white;
}

.user-sign-up-container {
  margin: auto;
  width: 50%;
  height: 40%;
}

.user-sign-up-form{
  margin:auto;
  width:80%;
  height: 80%;
}
.form-item{
  background-color: white;
}
.form-textbox{
  border:none;
  border-bottom: 2px solid red;
  background-color:lightgrey;
}

.header {
  width:100%;
  height:10%;
  background-color: grey;
  opacity: 0.8;

}

.header-button {
  float: right
}

.property-index-frame{
  width: 60%;
  opacity: 1;
  border:none;
  border-bottom: 2px solid red;

  /*background-color: green;*/
  margin: auto;
  padding: 1%;
  margin-top: 5px;
}
