<h1 class='page-title'>Please Sign In</h1>
<div class='form-container'>
  <form action='/sessions' method='post'>
    <div class='form-item'>
        Email:<input class='form-textbox'type="email" name="email">
    </div>
    <div class='form-item'>
        Password: <input class='form-textbox' type="password" name="password">
    </div>

    <button class='form-button' type="submit" id='Sign In'>Log in</button>
  </form>
</div>
