<div class=space-listing-container>

  <div class='space-listing-info' id='name'>
    Space Name: <%=@space.name %>
  </div>

  <div class='space-listing-info' id='location'>
    Location: <%=@space.location %>
  </div>
  <div class='space-listing-info' id='price'>
    Price: <%=@space.price %>
  </div>
  <div class='space-info' id='description'>
    Description: <%=@space.description %>
  </div>

  <div class='calendar'>
  </div>

  <div class='space-request-button'>
    Request
  </div>

</div>
