
<h1 class='page-title'>Add New Space</h1>
<div class='form-container'>
  <form class='form' id='new-space-form' action='/spaces/new' method="post">
    <div class='form-item'>
      Name:<input class='form-textbox' type='text' id='space-name' name='name'>
    </div>

    <div class='form-item'>
      Location:<input class='form-textbox' type='text' id='space-location' name='location'>
    </div>

    <div class='form-item'>
      Price:<input class='form-textbox' type='text' id='space-price' name='price'>
    </div>

    <div class='form-item'>
      Description:<input class='form-textbox' type='text' id='space-description' name='description'>
    </div>

    <div class='form-item'>
      Available from:<input class='form-textbox' type='date' id='start-date' name='start date'>
    </div>

    <div class='form-item'>
      Until:<input class='form-textbox' type='date' id='end-date' name='end date'>
    </div>

    <input type='submit' id='submit-button' class='form-button' value='Submit'>
  </form>
</div>
