<html>
  <body>
    <form class='form' id='new-space-form' action='/spaces/new' method="post">
      <label class='form-label'>
        Name:<input class='form-textbox' type='text' id='space-name' name='name'>
      </label>

      <label class='form-label'>
        Location:<input class='form-textbox' type='text' id='space-location' name='location'>
      </label>

      <label class='form-label'>
        Price:<input class='form-textbox' type='text' id='space-price' name='price'>
      </label>

      <label class='form-label'>
        Description:<input class='form-textbox' type='text' id='space-description' name='description'>
      </label>

      <input type='submit' id='submit-button' class='form-button' value='Submit'>
    </form>
  </body>
</html>
