<html>
  <body>
    <form class='sign-up-form' id='new-property-form' action='/properties/new' method="post">
      <label class='form-label'>
        Name:<input class='form-textbox' type='text' id='property-name' name='name'>
      </label>

      <label class='form-label'>
        Location:<input class='form-textbox' type='text' id='property-location' name='location'>
      </label>

      <label class='form-label'>
        Price:<input class='form-textbox' type='number' id='property-price' name='price'>
      </label>

      <label class='form-label'>
        Description:<input class='form-textbox' type='text' id='property-description' name='description'>
      </label>

      <input type='submit' id='submit-button' class='form-button' value='Submit'>
    </form>
  </body>
</html>
