<div class='header' id='signed-in-header'>


  <ul class='header-links'>
    <li class='header-link' ><a id='spaces-link' href="/spaces/index">Spaces</a></li>
    <li class='header-link' ><a id='requests-link' href="/requests/index">Requests</a></li>
    <li class='header-link' >
      <form method='post' action='/sessions'>
        <input type='hidden' name='_method' value='delete'>
        <input class='header-link' id='sign-out-button' type='submit' value='Sign out'>
      </form>
    </li>
  </ul>

</div>
