<!-- <div class='header' id='signed-out-header'>


  <ul class='header-links'>
    <li class='header-link' ><a class='links' id='login-link' href="/sessions/new">Login</a></li>
    <li class='header-link' ><a class='links' id='about-link' href="/about/index">About</a></li>
    <li class='header-link' ><a class='links' id='sign-up-link' href="/users/new">Sign Up</a></li>

  </ul>
</div> -->

Makers BnB





<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Makers BnB</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/sessions/new" id='login-link'>Sign In <span class="sr-only">(current)</span></a></li>
        <li><a href="/users/new" id='sign-up-link'>Sign Up</a></li>
        <li><a href="/about/index" id='about-link'>About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
