<div class='header' id='signed-in-header'>
  <form action='/properties/index' method="get">
    <button class='header-button' id='properties' name='Properties'>
      Properties
    </button>
  </form>
</div>
