<div class='header' id='signed-in-header'>


  <ul class='header-links'>
    <li class='header-link' ><a id='spaces-link' href="/spaces/index">Spaces</a></li>
    <li class='header-link' ><a id='requests-link' href="/requests/index">Requests</a></li>
  </ul>
</div>
