<div class='header' id='signed-out-header'>


  <ul class='header-links'>
    <li class='header-link' ><a class='links' id='login-link' href="/sessions/new">Login</a></li>
    <li class='header-link' ><a class='links' id='about-link' href="/about/index">About</a></li>
    <li class='header-link' ><a class='links' id='sign-up-link' href="/users/new">Sign Up</a></li>

  </ul>
</div>

Makers BnB
