<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>MakersBnB</title>
    <!-- <link rel="stylesheet" href="/stylesheets/test.css"> -->
    <link rel="shortcut icon" type="image/png" href="/images/palace.png">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body >

    <% if current_user %>
      <%= partial :signed_in_header %>
    <% else %>
      <%= partial :signed_out_header %>
    <% end %>
    <%= partial :flash %>
    <%= yield %>

  </body>
</html>
