<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>

    <link rel="stylesheet" href="/stylesheets/main_style.css">

  </head>

  <body>
    Makers BnB
    <%= partial :welcome %>
    <%= yield %>

  </body>
</html>
